<header class="site-header">
  <div class="site-header-row">
    <h1>Want to Read</h1>
    <a class="site-nav-link" href="index.html">All books</a>
    <a class="site-nav-link" href="stats.html">Stats</a>
  </div>
  <p class="count">{count_text}</p>
</header>
<main>
  <p class="add-cta"><a class="add-link" href="{add_url}">＋ Add a book</a></p>
  <ul class="book-list want-list">{items_html}</ul>
  {empty_html}
  <p class="edit-page"><a class="edit-link" href="{add_url}">Edit this list on GitHub</a></p>
</main>
